.nav {
    width: 92%;
    height: 60px;
    background: linear-gradient(90deg, #f4f4f4, var(--color-main));
    /* position: fixed; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 4%;
    z-index: 999;
}

.nav h2 {
    color: var(--color-dark);
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
}


.nav-a {
    display: flex;
    align-items: stretch;
    height: 100%;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 0 6px;
    margin: 0 4px;
    border-bottom: #ffffff solid 4px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: 400;
}

a:hover {
    color: #ffffff88;
    text-decoration: none;
    font-size: 18px;
    border-bottom: #ffffff88 solid 4px;
    display: flex;
    align-items: center;
}

@media (max-width: 1000px) {
    .nav-a {
        position: fixed;
        bottom: 0;
        left: 0;
        height: fit-content;
        padding: 10px 0 16px;
        width: 100%;
        background-color: var(--color-dark);
        z-index: 999;
    }

    a {
        color: #ffffff;
        text-decoration: none;
        font-size: 14px;
        padding: 4px 10px;
        margin: 0 0 0 16px;
        border-bottom: none;
        border: #ffffff solid 2px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        transition: all 0.3s ease;
        font-weight: 400;
    }

}