.nav {
    width: 92%;
    height: 50px;
    background-color: #6082ae;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding: 0 4%;
    z-index: 2;
}