.layout2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
    /* padding-top: 100px; */
}

.select-nnt {
    width: 45%;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--color-main);
    background-color: #ffffff;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='green' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: var(--color-main);
    /* ฟ้าหลัก */
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    background-color: #2835a8;
    /* ฟ้าเข้มตอน hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:active {
    background-color: #2835a8;
    /* ฟ้าเข้มขึ้นตอนคลิก */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
}

.my-grid {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
}

.card-1 {
    background: #ffffff;
    grid-row: span 2;
    border-radius: 6px;
    padding: 16px;
    min-width: 220px;
}

.card-1-header {
    padding: 8px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-main);
    margin: 0 0 16px;
}

.card-1-list {
    /* height: 250px;
    overflow-y: scroll; */
    padding: 0 16px;
}

.card-1-list-n {
    display: flex;
    justify-content: space-between;
}

.card-1-list-n h4 {
    font-size: 20px;
    color: #666;
    margin: 0;
    padding: 4px 0;
    font-weight: 400;
}

.card-2 {
    background: #ffffff;
    border-radius: 6px;
    padding: 16px;
}

.card-2-header {
    padding: 8px 16px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-main);
    margin: 0 0 16px;
}

.card-2-list {
    /* overflow-y: scroll; */
    padding: 0 16px;
}

.card-2 h2 {
    font-size: 24px;
    color: var(--color-main);
    margin: 0;
    padding: 4px 0;
    font-weight: 500;
    text-align: center;
}

.card-3 {
    background: #ffffff;
    border-radius: 6px;
    padding: 16px;
    grid-column: span 2;
}

.card-3-list {
    padding: 0 16px;
}

.card-3-header {
    padding: 8px 0px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--color-main);
    margin: 0 0 16px;
}

.card-3-list-n {
    display: grid;
    grid-template-columns: 40% 60%;
    /* justify-content: space-between; */
}

.card-3-list-n h4 {
    font-size: 20px;
    color: #666;
    margin: 0;
    padding: 4px 0;
    font-weight: 400;
}

.card-3-list-n h3 {
    font-size: 20px;
    color: var(--color-main);
    margin: 0;
    padding: 4px 0;
    font-weight: 500;
    text-align: end;
    overflow: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.loader {
    border-top: 6px solid var(--color-main)ff;
    border-left: 6px solid var(--color-main)aa;
    border-bottom: 6px solid var(--color-main)66;
    border-right: 6px solid var(--color-main)11;
    border-radius: 50%;
    height: 70%;
    aspect-ratio: 1;
    animation: spin 1s linear infinite;
    position: absolute;
    right: 0;
}

.detailoverall h3 {
    font-size: 32px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1000px) {
    .layout2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 92%;
        margin: 0 auto;
        margin-bottom: 24%;
    }

    .my-grid {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: 100%;
        gap: 10px;
    }

    .card-1 {
        grid-row: unset;
        grid-column: unset;
    }

    .card-2 {
        grid-row: unset;
        grid-column: unset;
    }

    .card-3 {
        grid-row: unset;
        grid-column: unset;
    }

    .detailoverall h3 {
        font-size: 16px;
    }
}