.layout {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  width: 90%;
  background-color: #e8edf2;
  margin-top: 80px;
  margin-bottom: 50px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.g-graph {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  /* align-items: flex-start; */
  width: 96%;
  padding: 80px 0 0px 4%;
  align-items: stretch;
  text-align: center;
}

.block-g {
  background: #fff;
  /* margin: 16px; */
  border-radius: 10px;
  padding: 16px 0 8px;
  width: 100%;
}


.block-g h3 {
  padding: 0 5%;
}

h3 {
  color: #2835a8;
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h4 {
  color: #4858ee;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.g-list {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 80px 10% 0px 0;
}

.grid-region-t {
  display: grid;
  grid-template-columns: 70% 30%;
  text-align: center;
  font-weight: 600;
}


.grid-region-d {
  display: grid;
  grid-template-columns: 70% 30%;
}

.grid-region-t-1 {
  background: #4858ee;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}


.grid-region-t-2 {
  background: #2835a8;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@media (max-width: 1000px) {
  .layout {
    display: grid;
    grid-template-columns: 100%;
    width: 100%;
    margin-bottom: 12%;
  }

  .g-graph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: flex-start; */
    padding: 60px 0 0px;
    align-items: stretch;
    text-align: center;
    width: 100%;
  }

  h3 {
    color: #2835a8;
    font-size: 24px;
    margin: 0;
    padding: 0;
  }

  h4 {
    color: #4858ee;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  .g-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .grid-region-t {
    display: grid;
    grid-template-columns: 70% 30%;
    text-align: center;
    font-weight: 600;
  }


  .grid-region-d {
    display: grid;
    grid-template-columns: 70% 30%;
  }

  .grid-region-t-1 {
    background: #4858ee;
    color: #fff;
    font-size: 16px;
  }


  .grid-region-t-2 {
    background: #2835a8;
    color: #fff;
    font-size: 16px;
  }

}